@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
        if (User.IsInRole("admin"))
        {
            <ul class="nav navbar-nav navbar-right-list navbar-list main-text-style">
                <li>@Html.ActionLink("Teachers", "Index", "Teacher")</li>
                <li>@Html.ActionLink("Students", "Index", "Student")</li>
                <li>@Html.ActionLink("Report good students", "ReportAverageBal", "Student")</li>
                <li>@Html.ActionLink("Report teachers all", "ReportAllStudents", "Teacher")</li>
                <li>@Html.ActionLink("Report teachers min", "ReportMinStudents", "Teacher")</li>
            </ul>
        }
        if (User.IsInRole("Teacher"))
        {
            <ul class="nav navbar-nav navbar-right-list navbar-list main-text-style">
                <li>@Html.ActionLink("Students", "Index", "Student")</li>
            </ul>
        }
    }
}
else
{ 
<ul class=
    "nav navbar-nav navbar-right" >
    <li > @Html.ActionLink("Sign in", "Login", "Account") </li>
    </ul>
}